In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
df.columns = df.columns.str.lower().str.replace(' ','_')
categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)

for c in categorical_columns:
    df[c] = df[c].str.lower().str.replace(' ','_')

In [4]:
df.head()

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,7590-vhveg,female,0,yes,no,1,no,no_phone_service,dsl,no,...,no,no,no,no,month-to-month,yes,electronic_check,29.85,29.85,no
1,5575-gnvde,male,0,no,no,34,yes,no,dsl,yes,...,yes,no,no,no,one_year,no,mailed_check,56.95,1889.5,no
2,3668-qpybk,male,0,no,no,2,yes,no,dsl,yes,...,no,no,no,no,month-to-month,yes,mailed_check,53.85,108.15,yes
3,7795-cfocw,male,0,no,no,45,no,no_phone_service,dsl,yes,...,yes,yes,no,no,one_year,no,bank_transfer_(automatic),42.30,1840.75,no
4,9237-hqitu,female,0,no,no,2,yes,no,fiber_optic,no,...,no,no,no,no,month-to-month,yes,electronic_check,70.70,151.65,yes

In [5]:
df.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges         object
churn                object
dtype: object

In [6]:
tc = pd.to_numeric(df.totalcharges, errors='coerce')

In [7]:
df.totalcharges =  pd.to_numeric(df.totalcharges, errors='coerce')

In [8]:
df.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges        float64
churn                object
dtype: object

In [9]:
df.churn.head()

0     no
1     no
2    yes
3     no
4    yes
Name: churn, dtype: object

In [10]:
df.churn = (df.churn == 'yes').astype(int)
df.churn.head()

0    0
1    0
2    1
3    0
4    1
Name: churn, dtype: int64

In [11]:
df.totalcharges = df.totalcharges.fillna(0)

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
df_train_full, df_test = train_test_split(df, test_size=0.2, random_state=1)

In [14]:
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=1)
len(df_train), len(df_val), len(df_test)

(4225, 1409, 1409)

In [15]:
df_train = df_train.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)

In [16]:
y_train = df_train.churn.values
y_test = df_test.churn.values
y_val = df_val.churn.values

In [17]:
len(y_train), len(y_test), len(y_val)

(4225, 1409, 1409)

In [18]:
del df_train['churn']
del df_test['churn']
del df_val['churn']

In [19]:
global_churn_rate = df_train_full.churn.mean().round(2)
global_churn_rate

np.float64(0.27)

In [20]:
df_train_full.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges        float64
churn                 int64
dtype: object

In [21]:
numerical = ['tenure','monthlycharges','totalcharges']

In [22]:
df.columns

Index(['customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
       'tenure', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod', 'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [23]:
categorical = ['customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
        'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod',  'churn']

In [24]:
df_train_full[categorical].nunique()

customerid          5634
gender                 2
seniorcitizen          2
partner                2
dependents             2
phoneservice           2
multiplelines          3
internetservice        3
onlinesecurity         3
onlinebackup           3
deviceprotection       3
techsupport            3
streamingtv            3
streamingmovies        3
contract               3
paperlessbilling       2
paymentmethod          4
churn                  2
dtype: int64

In [25]:
# Calculate churn rate for all the categorical features
from IPython.display import display

for c in categorical:
    print(c)
    df_group = df_train_full.groupby(c).churn.agg(['mean','count'])
    df_group['diff'] = df_group['mean']- global_churn_rate
    df_group['risk'] = df_group['mean']- global_churn_rate
    display(df_group)
    print()

customerid

            mean  count  diff  risk
customerid
0002-orfbo   0.0      1 -0.27 -0.27
0004-tlhlj   1.0      1  0.73  0.73
0011-igkff   1.0      1  0.73  0.73
0013-exchz   1.0      1  0.73  0.73
0013-mhzwf   0.0      1 -0.27 -0.27
...          ...    ...   ...   ...
9987-lutyd   0.0      1 -0.27 -0.27
9992-rramn   1.0      1  0.73  0.73
9992-ujoel   0.0      1 -0.27 -0.27
9993-lhieb   0.0      1 -0.27 -0.27
9995-hotoh   0.0      1 -0.27 -0.27

[5634 rows x 4 columns]

gender

            mean  count      diff      risk
gender
female  0.276824   2796  0.006824  0.006824
male    0.263214   2838 -0.006786 -0.006786

seniorcitizen

                   mean  count      diff      risk
seniorcitizen
0              0.242270   4722 -0.027730 -0.027730
1              0.413377    912  0.143377  0.143377

partner

             mean  count      diff      risk
partner
no       0.329809   2932  0.059809  0.059809
yes      0.205033   2702 -0.064967 -0.064967

dependents

                mean  count      diff      risk
dependents
no          0.313760   3968  0.043760  0.043760
yes         0.165666   1666 -0.104334 -0.104334

phoneservice

                  mean  count      diff      risk
phoneservice
no            0.241316    547 -0.028684 -0.028684
yes           0.273049   5087  0.003049  0.003049

multiplelines

                      mean  count      diff      risk
multiplelines
no                0.257407   2700 -0.012593 -0.012593
no_phone_service  0.241316    547 -0.028684 -0.028684
yes               0.290742   2387  0.020742  0.020742

internetservice

                     mean  count      diff      risk
internetservice
dsl              0.192347   1934 -0.077653 -0.077653
fiber_optic      0.425171   2479  0.155171  0.155171
no               0.077805   1221 -0.192195 -0.192195

onlinesecurity

                         mean  count      diff      risk
onlinesecurity
no                   0.420921   2801  0.150921  0.150921
no_internet_service  0.077805   1221 -0.192195 -0.192195
yes                  0.153226   1612 -0.116774 -0.116774

onlinebackup

                         mean  count      diff      risk
onlinebackup
no                   0.404323   2498  0.134323  0.134323
no_internet_service  0.077805   1221 -0.192195 -0.192195
yes                  0.217232   1915 -0.052768 -0.052768

deviceprotection

                         mean  count      diff      risk
deviceprotection
no                   0.395875   2473  0.125875  0.125875
no_internet_service  0.077805   1221 -0.192195 -0.192195
yes                  0.230412   1940 -0.039588 -0.039588

techsupport

                         mean  count      diff      risk
techsupport
no                   0.418914   2781  0.148914  0.148914
no_internet_service  0.077805   1221 -0.192195 -0.192195
yes                  0.159926   1632 -0.110074 -0.110074

streamingtv

                         mean  count      diff      risk
streamingtv
no                   0.342832   2246  0.072832  0.072832
no_internet_service  0.077805   1221 -0.192195 -0.192195
yes                  0.302723   2167  0.032723  0.032723

streamingmovies

                         mean  count      diff      risk
streamingmovies
no                   0.338906   2213  0.068906  0.068906
no_internet_service  0.077805   1221 -0.192195 -0.192195
yes                  0.307273   2200  0.037273  0.037273

contract

                    mean  count      diff      risk
contract
month-to-month  0.431701   3104  0.161701  0.161701
one_year        0.120573   1186 -0.149427 -0.149427
two_year        0.028274   1344 -0.241726 -0.241726

paperlessbilling

                      mean  count      diff      risk
paperlessbilling
no                0.172071   2313 -0.097929 -0.097929
yes               0.338151   3321  0.068151  0.068151

paymentmethod

                               mean  count      diff      risk
paymentmethod
bank_transfer_(automatic)  0.168171   1219 -0.101829 -0.101829
credit_card_(automatic)    0.164339   1217 -0.105661 -0.105661
electronic_check           0.455890   1893  0.185890  0.185890
mailed_check               0.193870   1305 -0.076130 -0.076130

churn

       mean  count  diff  risk
churn
0       0.0   4113 -0.27 -0.27
1       1.0   1521  0.73  0.73

In [26]:
from sklearn.metrics import mutual_info_score

In [27]:
mutual_info_score(df_train_full.gender, df_train_full.churn)

np.float64(0.0001174846211139946)

In [28]:
mutual_info_score(df_train_full.partner, df_train_full.churn)

np.float64(0.009967689095399745)

In [29]:
def mutual_info_churn_score(series):
    return mutual_info_score(series, df_train_full.churn)

In [30]:
mi = df_train_full[categorical].apply(mutual_info_churn_score)
mi.sort_values(ascending=False)

churn               0.583227
customerid          0.583227
contract            0.098320
onlinesecurity      0.063085
techsupport         0.061032
internetservice     0.055868
onlinebackup        0.046923
deviceprotection    0.043453
paymentmethod       0.043210
streamingtv         0.031853
streamingmovies     0.031581
paperlessbilling    0.017589
dependents          0.012346
partner             0.009968
seniorcitizen       0.009410
multiplelines       0.000857
phoneservice        0.000229
gender              0.000117
dtype: float64

In [31]:
'''
FEATURE CORRELATION- WAY TO MEASURE MUTUAL IMPORTANCE FOR NUMERICAL
-There is a variable r , -1<=r<=1 , if value is -ve variables are 
 inversely proportional, if +ve varaibles are proportional
'''
df_train_full[numerical].corrwith(df_train_full.churn)

tenure           -0.351885
monthlycharges    0.196805
totalcharges     -0.196353
dtype: float64

In [32]:
categorical.remove('churn')
train_dicts = df_train[categorical + numerical].to_dict(orient='records')

In [33]:
from sklearn.feature_extraction import DictVectorizer

In [34]:
dv = DictVectorizer(sparse = False)

In [35]:
X_train = dv.fit_transform(train_dicts)

In [36]:
val_dicts = df_val[numerical + categorical].to_dict(orient='records')
X_val = dv.fit_transform(val_dicts)

In [39]:
# implementig core logistic regression
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

In [40]:
def logisitic_regression(xi):
    score = w0

    for j in range(len(w)):
        score = score + xi[j] * w[j]
    result = sigmoid(score)
    return result

In [42]:
df_train

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges
0,8015-ihcgw,female,0,yes,yes,72,yes,yes,fiber_optic,yes,yes,yes,yes,yes,yes,two_year,yes,electronic_check,115.50,8425.15
1,1960-uycnn,male,0,no,no,10,yes,yes,fiber_optic,no,yes,yes,no,no,yes,month-to-month,yes,electronic_check,95.25,1021.55
2,9250-wypll,female,0,no,no,5,yes,yes,fiber_optic,no,no,no,no,no,no,month-to-month,no,electronic_check,75.55,413.65
3,6786-obwqr,female,0,yes,yes,5,yes,no,fiber_optic,no,no,no,no,yes,no,month-to-month,yes,electronic_check,80.85,356.10
4,1328-euzhc,female,0,yes,no,18,yes,no,no,no_internet_service,no_internet_service,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,mailed_check,20.10,370.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4220,1309-xgfsn,male,1,yes,yes,52,yes,yes,dsl,no,yes,yes,no,yes,yes,one_year,yes,electronic_check,80.85,4079.55
4221,4819-hjpiw,male,0,no,no,18,no,no_phone_service,dsl,no,no,no,no,no,no,month-to-month,no,mailed_check,25.15,476.80
4222,3703-vavcl,male,0,yes,yes,2,yes,no,fiber_optic,no,no,yes,yes,no,yes,month-to-month,no,credit_card_(automatic),90.00,190.05
4223,3812-lrzir,female,0,yes,yes,27,yes,yes,no,no_internet_service,no_internet_service,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,electronic_check,24.50,761.95
4224,1704-nrwye,female,1,no,no,9,yes,no,fiber_optic,no,no,no,no,yes,no,month-to-month,yes,electronic_check,80.85,751.65